<li>
    {{burger_name}}
    <div class="buttonBox">
        <button class="change-consumed" data-id="{{id}}" data-newOrder="{{consumed}}"> {{#if consumed }}
            Devour
            {{else}}
            Reorder
            {{/if}}
        </button>

        <button class="delete-burger" data-id="{{this.id}}">Delete</button>
    </div>
</li>