<li>
    {{burger_name}}
    <div class="buttonBox">
        <button data-id="{{id}}" class="change-consumed" data-newOrder="{{consumed}}"> {{#if consumed }}
            Order Now
            {{else}}
            Add to Menu
            {{/if}}
        </button>

        <button class="delete-burger" data-id="{{this.id}}">Delete</button>
    </div>
</li>